In [21]:
#Using loops in python and some problems 
num = 10

if num > 5:
    print("Greater than 5")
else:
    print("Less or equal to 5")

Greater than 5

In [2]:
spending = 6500

if spending > 7000:
    print("High Value Customer")
elif spending >= 3000:
    print("Medium Value Customer")
else:
    print("Low Value Customer")

Medium Value Customer

In [6]:
#for loop (where count is know)
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
#while loop condition 
#repetation 
count = 1

while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [11]:
#range(start, stop, step)
range(5)        # 0 to 4
range(1, 6)     # 1 to 5
range(1, 10, 2) # 1,3,5,7,9

range(1, 10, 2)

In [10]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
#Find Max in List (Without max())
numbers = [10, 45, 3, 78, 22]

max_num = numbers[0]

for num in numbers:
    if num > max_num:
        max_num = num

print("Maximum:", max_num)

Maximum: 78

In [17]:
#count Frequency
numbers = [1,2,2,3,3,3,4]

count = 0

for num in numbers:
    if num == 3:
        count += 1

print("Frequency:", count)

Frequency: 3

In [20]:
customers = [
    {"name": "A", "spending": 5000},
    {"name": "B", "spending": 8000},
    {"name": "C", "spending": 3000}
]
#Process Data Using Loop
total_revenue = 0

for customer in customers:
    total_revenue += customer["spending"]

print("Total Revenue:", total_revenue)

#Classify Customers
for customer in customers:
    if customer["spending"] > 6000:
        print(customer["name"], "is Premium")
    else:
        print(customer["name"], "is Regular")

Total Revenue: 16000
A is Regular
B is Premium
C is Regular

In [22]:
#nasted loop
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

In [23]:
#COMPARE ALL NUMBERS
numbers = [1, 2, 3]

for i in numbers:
    for j in numbers:
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [25]:
numbers = [2, 7, 11, 15]
target = 9

seen = {}

for num in numbers:
    diff = target - num
    if diff in seen:
        print("Pair found:", diff, num)
    seen[num] = True

Pair found: 2 7

In [27]:
import pandas as pd

data = {"spending": [5000, 8000, 3000]}
df = pd.DataFrame(data)

print(df["spending"].sum())

16000

In [28]:
customers = [
    {"name": "A", "spending": 5000},
    {"name": "B", "spending": 12000},
    {"name": "C", "spending": 2000}
]

for customer in customers:
    if customer["spending"] > 10000:
        print("High Risk Review Needed")

High Risk Review Needed